.site-header {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height-mobile;
    display: flex;
    color: $forest-green-traditional;
    background-color: $baby-powder;
    transition: all 300ms $ease-out;
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 5vw;
    }
    .site-brand {
        position: relative;
        z-index: 4;
        #logo {
            position: relative;
            width: auto;
            height: 30px;
            color: $brand-white;
        }
    }
    .toggle-menu {
        z-index: 4;
    }
    .site-navigation {
        position: fixed;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        padding: $font-size-base;
        background-color: $baby-powder;
        z-index: 3;
        transition: left 300ms ease;
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            list-style: none;
            .menu-rsvp {
                text-decoration: underline;
            }
            li {
                padding: $font-size-base 0;
                text-align: center;
                a {
                    font-weight: bold;
                    color: $forest-green-traditional;
                    font-size: 32px;
                    font-family: $font;
                    text-transform: uppercase;
                }
            }
        }
    }
    .main-nav-open &,
    .prescrolled.main-nav-open &,
    .scrolled.main-nav-open & {
        .site-navigation {
            left: 0;
        }
        color: $forest-green-traditional;
        a {
            color: $forest-green-traditional;
        }
    }
    .pre-scrolled & {
        background-color: $baby-powder;

        height: $header-height-mobile * 0.75;
        a {
            color: $forest-green-traditional;
        }
    }
    .scrolled & {
    }
}

@include breakpoint-up(md) {
    .site-header {
        height: $header-height-desktop;
        background-color: $baby-powder;
        &-inner {
            padding: 0 5vw;
            width: 100%;
            margin: 0 auto;
        }
        .site-brand {
            #logo {
                height: $font-size-base * 3;
            }
        }
        .toggle-menu {
            display: none;
        }
        .site-navigation {
            position: relative;
            top: auto;
            left: auto;
            width: 100%;
            height: auto;
            background: $baby-powder;
            display: block;
            padding: 0;
            font-family: $font;
            ul {
                list-style: none;
                display: flex;
                justify-content: space-between;
                li {
                    display: inline-block;
                    padding: 0;
                    margin: 0 0 0 $font-size-base * 2;
                    a {
                        color: $forest-green-traditional;
                        font-size: $font-size-base * 1.5;
                    }
                    &.page-navigation-highlight {
                        a {
                            @include btn-secondary(
                                $color: $forest-green-traditional
                            );
                            text-transform: none;
                        }
                    }
                }
            }
        }
        .pre-scrolled & {
        }
    }
}
