html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: $font;
    color: $brand-black;
    scroll-behavior: smooth;
    scroll-padding-top: 7vw;
    overflow-x: hidden;
    background-color: $baby-powder;
    @include breakpoint-down(md) {
        scroll-padding-top: 100px;
    }
}

img {
    object-fit: cover;
}

figure {
    margin: 0;
}

.section {
    margin: 10vw 5vw;
}

.main-cta {
    @include btn-primary;
}
.secondary-cta {
    @include btn-secondary;
}

h1 {
    font-size: 120px;
    font-family: $font;
    font-weight: 900;
    color: $brand-black;
    padding-top: 50px;
    margin-bottom: $font-size-base * 3;
    @include breakpoint-down(giga) {
        font-size: 80px;
        margin-bottom: $font-size-base * 3;
    }

    @include breakpoint-down(sm) {
        font-size: 40px;
        margin-bottom: $font-size-base * 3;
    }
}
h2 {
    font-family: $font;
    font-weight: 900;
    font-size: 65px;
    margin-bottom: 50px;
    @include breakpoint-down(md) {
        font-size: 40px;
        margin-top: $font-size-base;
    }
}
h3 {
    font-family: $font;
    font-weight: 900;
    font-size: 32px;
    @include breakpoint-down(md) {
        font-size: 20px;
    }
}
h4 {
    font-family: $font;
    font-weight: 700;
    font-size: 20px;
    @include breakpoint-down(md) {
        font-size: 16px;
    }
}
p {
    font-family: $font;
    font-size: 25px;
    line-height: 30px;
}

.desktop-only {
    display: initial;
    @include breakpoint-down(md) {
        display: none;
    }
}

.mobile-only {
    display: none;
    @include breakpoint-down(md) {
        display: initial;
    }
}

.section-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .section-copy {
        width: 35%;
        align-self: flex-start;
        p {
            text-align: center;
            span {
                display: inline-block;
                width: 25px;
                height: auto;
                img {
                    width: 100%;
                    height: 100%;
                    margin-bottom: 20px;
                }
                .rotate {
                    transform: rotate(180deg);
                    margin-bottom: 0;
                    margin-top: 20px;
                }
            }
        }
    }
    .section-image {
        width: 70%;
        margin-right: -5vw;
        img {
            width: 100%;
        }
    }
}

.sections {
    .section-copy {
        width: 50%;
        align-self: center;
        p {
            text-align: left;
        }
    }
    .section-image {
        width: 50%;
        margin-right: 0;
        margin-left: -5vw;
        img {
            width: 100%;
        }
    }
}
.reversed {
    .section-image {
        margin-right: -5vw;
        margin-left: 0;
    }
}
