html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: $font;
    color: $brand-black;
    scroll-behavior: smooth;
    scroll-padding-top: 7vw;
    overflow-x: hidden;
    background-color: $baby-powder;
    @include breakpoint-down(md) {
        scroll-padding-top: 100px;
    }
}

img {
    object-fit: cover;
}

figure {
    margin: 0;
}

.section {
    margin: 10vw 5vw;
    @include breakpoint-down(md) {
        margin: 13vh 5vw;
    }
}

.main-cta {
    @include btn-primary;
}
.secondary-cta {
    @include btn-secondary;
}

h1 {
    font-size: 120px;
    font-family: $font;
    font-weight: 900;
    color: $brand-black;
    padding-top: 50px;
    margin-bottom: $font-size-base * 3;
    @include breakpoint-down(giga) {
        font-size: 80px;
        margin-bottom: $font-size-base * 3;
    }

    @include breakpoint-down(md) {
        font-size: 40px;
        margin-bottom: $font-size-base * 3;
    }
}
h2 {
    font-family: $font;
    font-weight: 900;
    font-size: 65px;
    margin-bottom: 50px;
    @include breakpoint-down(md) {
        font-size: 40px;
        margin-top: $font-size-base;
        text-align: center;
    }
}
h3 {
    font-family: $font;
    font-weight: 900;
    font-size: 32px;
    @include breakpoint-down(md) {
        font-size: 20px;
    }
}
h4 {
    font-family: $font;
    font-weight: 700;
    font-size: 20px;
    @include breakpoint-down(md) {
        font-size: 16px;
    }
}
p {
    font-family: $font;
    font-size: 25px;
    line-height: 30px;
    @include breakpoint-down(md) {
        font-size: 16px;
        line-height: 25px;
    }
}

.desktop-only {
    display: initial;
    @include breakpoint-down(md) {
        display: none;
    }
}

.mobile-only {
    display: none;
    @include breakpoint-down(md) {
        display: initial;
    }
}

.section-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .section-copy {
        width: 35%;
        align-self: flex-start;
        p {
            text-align: center;
            span {
                display: inline-block;
                width: 25px;
                height: auto;
                @include breakpoint-down(md) {
                    width: 20px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    margin-bottom: 20px;
                    @include breakpoint-down(md) {
                        margin-bottom: 0px;
                    }
                }
                .rotate {
                    transform: rotate(180deg);
                    margin-bottom: 0;
                    margin-top: 20px;
                    @include breakpoint-down(md) {
                        margin-top: 0px;
                    }
                }
            }
        }
    }
    .section-image {
        width: 70%;
        margin-right: -5vw;
        img {
            width: 100%;
        }
    }
    @include breakpoint-down(md) {
        flex-direction: column-reverse;
        align-items: center;
        .section-copy {
            width: 100%;
            align-self: flex-start;
            p {
                span {
                    display: inline-block;
                    width: 25px;
                    height: auto;
                }
            }
        }
        .section-image {
            width: 100%;
            margin-right: 0;
        }
    }
}

.sections {
    .section-copy {
        width: 50%;
        align-self: center;
        p {
            text-align: left;
        }
    }
    .section-image {
        width: 50%;
        margin-right: 0;
        margin-left: -5vw;
        img {
            width: 100%;
        }
    }
    @include breakpoint-down(md) {
        .section-copy {
            width: 100%;
            align-self: center;
            p {
                text-align: center;
            }
        }
        .section-image {
            width: 100%;
            margin-right: -5vw;
            margin-left: -5vw;
            img {
                width: 100%;
            }
        }
    }
}
.reversed {
    .section-image {
        margin-right: -5vw;
        margin-left: 0;
    }
    @include breakpoint-down(md) {
        flex-direction: column;
        .section-image {
            margin-right: -5vw;
            margin-left: -5vw;
        }
    }
}

.footer-img {
    width: 100%;
}

.central-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    p {
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        line-height: 40px;
        @include breakpoint-down(md) {
            font-size: 20px;
        }
    }
    .main-cta {
        margin: 50px 0;
    }
    .separatore {
        margin: 50px 0;
    }
}

#agenzia {
    margin: 5vw;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .down {
        margin-top: 100px;
    }
    img:nth-child(11) {
        grid-column-start: 3;
    }
    img {
        margin: 0 auto;
        width: 100%;
    }
    @include breakpoint-down(md) {
        grid-template-columns: 1fr 1fr;
        .down {
            margin-top: 0;
        }
        img:nth-child(11) {
            grid-column-start: 1;
        }
    }
}

#foto,
#rsvp {
    .section-inner {
        flex-direction: column;
        align-items: center;
    }
    .central-text {
        p {
            width: 50%;
            @include breakpoint-down(md) {
                width: 100%;
            }
        }
        small {
            font-size: 25px;
            @include breakpoint-down(md) {
                font-size: 14px;
                text-align: center;
            }
        }
        margin-bottom: 100px;
    }
}

#mc_embed_signup {
    background: transparent !important;
    width: 1000px !important;
    .mc-field-group {
        font-size: 20px;
        label {
            font-family: $font !important;
        }
        input {
            background-color: transparent !important;
            border-radius: 10px !important;
            border: 1px solid $brand-black !important;
        }
        .button {
            background-color: transparent !important;
            color: $brand-black !important;
            padding: $font-size-base * 0.75 $font-size-base * 3 !important;
            font-weight: 700 !important;
            font-size: 20px !important;
            border-radius: 20px !important;
            box-shadow: 2px 4px rgba(0, 0, 0, 0.25) !important;
            border: 1px solid $brand-black !important;
            transition: all 300ms $ease-out !important;
            text-align: center !important;
            text-decoration: none !important;
            white-space: nowrap !important;
            vertical-align: middle !important;
            user-select: none !important;
            text-transform: none !important;
        }
    }
    @include breakpoint-down(md) {
        width: 100% !important;
        .mc-field-group {
            margin: 10px 0 !important;
        }
    }
}

.ctas {
    @include breakpoint-down(md) {
        display: flex;
        flex-direction: column;
        align-items: center;
        .main-cta {
            margin-top: 10px;
        }
    }
}

.main-cta {
    @include breakpoint-down(md) {
        white-space: normal;
        line-height: 25px;
    }
}
