// COLORS
/**
* https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
*/

/* brand colors*/
$baby-powder: #fffdf8;
$forest-green-traditional: #003d18;

/**/
$brand-black: #000000;
$brand-white: #ffffff;

$brand-primary: $brand-white;

$text-color: $brand-white;
$text-color-muted: lighten($text-color, 0.75);

$body-color: $brand-white;

$link-color: $brand-primary;
$link-hover-color: darken($link-color, 5%);

$link-decoration: none;
$link-hover-decoration: underline;
$link-focus-box-shadow: 0 0 0 transparent;

// EASE + MISC
$ease-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in: cubic-bezier(0.95, 0.05, 0.795, 0.035);

$border-radius: 10px;

// FONTS
$font: "Josefin Sans";

// FONTS & TYPO SIZES

$font-size-base: 16px;

$font-size-sm: 14px;
$font-size-copy: 20px;
$font-size-md: 24px;
$font-size-lg: 34px;
$font-size-xl: 48px;
$font-size-xxl: 54px;
$font-size-huge: 64px;

/* calc of heading in mixin/types */

$header-height-mobile: 80px;
$header-height-desktop: 100px;

$line-height-headings: 1.25;
$line-height-base: 1.75;

// LAYOUT BREAKPOINTS
$breakpoints: (
    xs: 36rem,
    //576
    sm: 48rem,
    //768
    md: 65rem,
    //1024
    lg: 81rem,
    //1280
    xl: 97rem,
    //1560,
    giga: 120rem,
);
/*
$breakpoint: map-get($breakpoints, sm);
@include breakpoint-up(sm) {...}
@include breakpoint-down(sm) {...}
@include breakpoint-between(sm,md) {...}

N.B.: In generale è da favorire un approccio mobile-first
 */

// INPUTS / FORMS

$input-line-height: $font-size-base * 3.5;
$input-color: $text-color;
$label-color: $brand-primary;
$input-placeholder-color: $text-color-muted;

$input-border-color: rgba($brand-primary, 0.3);
$input-border-width: 1px;
$input-border-radius: $border-radius;

$input-muted-color: $text-color-muted;
$input-muted-bg: transparent;

$input-focus-color: darken($text-color, 10%);

$input-focus-border-color: $text-color;
$input-focus-box-shadow: 0 0 transparent;

$form-feedback-valid-color: green;
$form-feedback-invalid-color: red;
